@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #0B121E;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.Container {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
}

.input_section {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
@media (max-width: 1600px) {
  .input_section {
    grid-column: 1/3;
  }
}
.input_section form {
  width: 100%;
  height: 4rem;
  position: relative;
}
.input_section input[type=text] {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 0 2rem;
  color: #fff;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background: #202B3C;
  transition: all 0.5s ease 0.5s;
}
.input_section button[type=submit] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
}

.today_section {
  padding: 1rem 2rem;
  grid-column: 1/4;
  grid-row: 2/3;
}
@media (max-width: 1600px) {
  .today_section {
    grid-column: 1/3;
    padding: 0 !important;
  }
}
.today_section .today_section_flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5rem 6rem 0.5rem 1rem;
  width: 100%;
  height: 100%;
}
.today_section_left {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.today_section_left .city_name {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 4px;
}
.today_section_left .country_name {
  font-size: 1.4rem;
  color: #585E6C;
}
.today_section_left .today_Date {
  justify-self: flex-end;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.today_section_right {
  margin-left: 20rem;
}
.today_section_right img {
  width: 8rem;
}
.today_section_right .Temp_c {
  margin-top: 2rem;
  font-size: 3rem;
}

.today_forcast {
  padding: 1rem 2rem;
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: #202B3C;
  border-radius: 1rem;
}
@media (max-width: 1600px) {
  .today_forcast {
    grid-column: 1/3;
  }
}
.today_forcast .today_forcast_conatiner {
  width: 100%;
  min-height: 10rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.today_forcast .today_forcast_conatiner .today_forcast_cart {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.today_forcast .today_forcast_conatiner .today_forcast_cart .today_forcast_icon {
  width: 4rem;
  margin: 1rem 0;
}

.air_conditions {
  grid-column: 1/4;
  grid-row: 4/5;
  padding: 1rem 1.5rem;
  height: 100%;
  background-color: #202B3C;
  border-radius: 1rem;
}
@media (max-width: 1600px) {
  .air_conditions {
    grid-column: 1/3;
  }
}
.air_conditions_conatainer {
  width: 100%;
  height: 100%;
}
.air_conditions_conatainer .air_condition_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}
.air_conditions_conatainer .air_condition_grid .air_condition_card {
  width: 100%;
  height: 7rem;
  display: flex;
  padding: 1rem 2rem;
}
.air_conditions_conatainer .air_condition_grid .air_condition_card_text {
  font-size: 1.3rem;
}
.air_conditions_conatainer .air_condition_grid .air_condition_card_value {
  font-size: 2rem;
  margin-top: 1rem;
}
.air_conditions_conatainer .air_condition_grid .air_condition_card i {
  font-size: 2rem;
  margin-right: 2rem;
}

.weather_forecast {
  grid-column: 4/5;
  grid-row: 2/-1;
  padding: 3rem 2rem;
  height: 100%;
  background-color: #202B3C;
  margin-left: 2rem;
  border-radius: 2rem;
}
@media (max-width: 1600px) {
  .weather_forecast {
    grid-column: 3/5;
  }
}
@media (max-width: 1400px) {
  .weather_forecast {
    grid-column: 1/3;
    grid-row: 5/-1;
    margin-left: 0;
  }
}
.weather_forecast_flexBox {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.weather_forecast_cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 1.5rem 1rem;
}
.weather_forecast_cart:not(:last-child) {
  border-bottom: 4px solid #252D3F;
}
.weather_forecast_cart_image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.weather_forecast_cart_image img {
  margin-right: 1rem;
  width: 3rem;
}

.dorpDown {
  width: 100%;
  max-height: 0rem;
  background-color: #202B3C;
  position: absolute;
  left: 0rem;
  top: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: inset 5px 5px 10px #1b2432;
}

.Active_Form input[type=text] {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.Active_Form .dorpDown {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem !important;
  padding: 1rem 2rem 2rem;
  max-height: 20rem;
  transition: all 0.5s ease;
}
.Active_Form .dorpDown p {
  margin-top: 1rem;
}

.weather_Cart {
  width: 80%;
  height: 100vh;
  margin: auto;
  border-radius: 2rem;
  padding: 1rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr 2.5fr 2fr 3fr;
  grid-gap: 1rem;
}
@media (max-width: 1400px) {
  .weather_Cart {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-rows: repeat(5, minmax(auto, 1fr));
  }
}

.header_section {
  text-transform: capitalize;
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
